<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

</head>
<body>
<h3>Let's Chat!</h3>
<div class="container">
    <div id="chatbot">
        <p class="botText"><span>Hi there!</span></p>
    </div>
    <div id="userInput">
        <input id="textInput" class="form-control" type="text" name="userMessage" placeholder="Type a message..." />
        <button class="btn btn-primary" onclick="sendMessage()">Send</button>
        <!-- una forma mas sencilla: 
        <input type="submit" value="send" id="buttonInput" />
        -->
    </div>    
</div>

<script>
    function getUserResponse(){
        var userText = $('#textInput').val();
        var userHTML = "<p class='userText'>User: <span>"+userText+"</span/></p>";
            $('#textInput').val("");
            $('#chatbot').append(userHTML);
}
        $('#buttonInput').click(function(){
            getUserResponse();
        })
</script>

</body>
</html>